.App{
    text-align: center;
    background-color: #151716 !important;
}
.App__h1{
    color: white;
}
.App__h2{
    color: #2b516b;
}

.app__form{
    border-radius: 20px;
    text-align: center;
    position:fixed;
    bottom:0;
    z-index: 1;
    background-color: #e9e9eb;
    width:100%;
    margin:20px;
    margin-right: 20px;
}
.app__formcontrol{
    
    display:flex !important;
    flex-direction:row !important;
}
.app__iconButton{
    flex:0 !important;
}
.app__input{
    flex:1 !important;
}